@charset "UTF-8";

html,body{/* min-height:2200px; */}
body{font-family:"Noto Sans KR", sans-serif;/* min-height:2200px; */}
a{text-decoration:none;color:#4d4d4d;}
.btn-outline-success{border:chocolate 1px solid;color:chocolate;}
.btn-outline-success:hover{border:1px solid chocolate;background-color:chocolate;color:#fff;}

.hhh-512{height:700px;}
.carouselWrapper{width:100%;height:500px;background-color:#f0f0f0;}

.eventMenu{display:flex;height:41.5px;margin:auto;margin-top:100px !important;margin-bottom:40px !important;padding-top:10px;border-bottom:1px solid #eeeeee;}
.eventMenuBox1{width:80%;}
.eventMenuBox2{display:flex;justify-content:space-evenly;min-width:300px;}
.h-auto{height:auto;}
.h-400 {height:400px;}
.w-1300 {max-width:1300px;margin:auto;margin-top:40px;}

.footer {width:100vw;height:300px;margin-top:100px;background-color:#eee;color:#5b5b5b;}
#footer{padding:3rem 0;background-color:#9e9e9e;text-align:center;}
#footer .copyright{font-size:16px;font-weight:400;line-height:22px;color:#ded5d5;vertical-align: middle;}

@media screen and (max-width: 48rem) {
  .first-line {text-align:center;}
  .second-line {padding-left:2rem;padding-right:2rem;}
  .third-line {display:block;text-align:center;}
}

.row{margin-bottom:24px;}

.card-text {font-size:16px;font-weight:500;color:#000;  /* /* padding: 14px 12px; */}
.card-text2 {padding-top:30px;font-size:13px;font-weight:500;color:#6a6f77;}
.card-body {height:108px;}

.redPoint {color:#fb4357;}
.card-head {overflow:hidden;}

.card-img-top {transition:all 300ms ease-in;}
.card-img-top:hover {transform:scale(1.1);}

.carouselBtnStyle {position:absolute;top:50%;width:70px;height:70px;margin:0;padding:0;box-shadow:4px 4px 10px 0 rgba(45, 45, 45, 0.3);border:0;border-radius:100%;background-color:#7c7c7c;background-repeat:no-repeat;background-position:0 0;font-size:0;line-height:0;}
.carouselBtnStyle:hover {background-color:rgb(159, 52, 247) !important;}

.moveTopwrapper {position:relative;top:100px;width:100%;height:50px;}

.movetop {overflow:hidden;display:block;position:fixed;z-index:2;right:3%;bottom:25px;width:48px;height:48px;margin:0 0 0 550px;text-indent:-9999px;box-shadow:1px 1px 7px 0 rgba(0, 0, 0, 0.5);border-radius:48px;background:url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-go-top.png) no-repeat 0 0;}
.movetop:hover ~ .box2 {z-index:5;background-color:#4d4d4d !important;}

.changePositon {bottom:0px;}

.box {position:absolute;right:10px;bottom:10px;width:100px;height:100px;background-color:#fb4357;}
